:root {
  --color-brand--1: #ffb545;
  --color-brand--2: #00c46a;

  --color-dark--1: #2d3439;
  --color-dark--2: #42484d;
  --color-light--1: #aaa;
  --color-light--2: #ececec;
  --color-light--3: rgb(214, 222, 224);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  color: var(--color-light--2);
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  overscroll-behavior-y: none;
  background-color: var(--color-dark--1);
  display: flex;
}

/* GENERAL */
a:link,
a:visited {
  color: var(--color-brand--1);
}

/* SIDEBAR */
.sidebar {
  flex-basis: 50rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  background: #232526;
  background: -webkit-linear-gradient(to right top, #414345, #232526);
  background: linear-gradient(to right top, #414345, #232526);
}

.welcome__message {
  padding: 0 3rem;
  text-align: center;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 38vh;
  margin: 60px 0;
}

.welcome__message h1 {
  margin-bottom: 1rem;
}

.welcome__message p {
  margin-bottom: 1rem;
}

.btn {
  background: var(--color-dark--1);
  border: none;
  color: var(--color-brand--2);
  font-size: 12px;
  padding: 8px 15px;
  border-radius: 5px;
  z-index: 999;
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
  -webkit-appearance: none;
  cursor: pointer;
  transition: all 0.2s;
}

.btn:active {
  transform: translateY(2px);
  box-shadow: none;
}

.btn.reset {
  color: var(--color-light--1);
  box-shadow: none;
}

.logo_container {
  text-align: center;
}

.logo {
  height: 5.2rem;
  align-self: center;
  margin-bottom: 2rem;
}

.filter--container {
  filter: drop-shadow(2px 4px 6px black);
}

.filter--container .filters .btn {
  box-shadow: none;
}

.workouts {
  list-style: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 3rem;
  filter: drop-shadow(2px 4px 6px black);
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  border-radius: 5px;
  padding: 1.5rem 2rem;
  margin-bottom: 1.75rem;
  cursor: pointer;
  color: #000;

  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem 1.5rem;

  position: relative;
}

.workout--running,
.running-popup .leaflet-popup-content-wrapper,
.running-popup .leaflet-popup-tip {
  background: #56ccf2;
  background: -webkit-linear-gradient(to left top, #2f80ed, #56ccf2);
  background: linear-gradient(to left top, #2f80ed, #56ccf2);
}
.workout--cycling,
.cycling-popup .leaflet-popup-content-wrapper,
.cycling-popup .leaflet-popup-tip {
  background: #fc4a1a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left bottom, #fc4a1a, #f7b733); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left bottom, #fc4a1a, #f7b733);
}

.workout__header--container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.workout__title {
  font-size: 2rem;
  font-weight: 600;
  min-height: 32px;
}

.workout__weather .temp {
  font-size: 2rem;
  font-weight: 400;
  min-height: 32px;
}

.workout__weather .temp img {
  width: 32px;
  height: 32px;
  transform: translateY(8px);
  margin-right: 1px;
}

.workout__weather--details {
  transform: translateY(-9px);
}

.workout__location,
.workout__weather--details.otherinfo {
  font-style: normal;
  font-size: 12px;
  line-height: 14px;
}

.workout__weather--details {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  text-align: right;
}

.workout__icon {
  font-size: 1.8rem;
  margin-right: 0.2rem;
  height: 0.28rem;
}

.workout__value {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.workout__unit {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 800;
}

/* Actions */
.actions--hidden .actions {
  display: none;
}

.actions {
  position: absolute;
  bottom: 15px;
  right: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0rem 1rem;
  font-size: 16px;
  z-index: 1;
  transition: all 0.2s;
}

.action__btn {
  height: 30px;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.action__btn i {
  font-style: normal;
}

.edit__btn i {
  font-size: 16px;
}

.delete__btn i {
  font-size: 30px;
  transform: translateY(-3px);
}

.form {
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem 2.5rem;

  /* Match height and activity boxes */
  height: 132px;
  transition: all 0.5s, transform 1ms;
}

.form.form--hidden {
  transform: translateY(-30rem);
  padding: 0 2.25rem;
  margin-bottom: 0;
  opacity: 0;
  height: 0;
}

.form__row {
  display: flex;
  align-items: center;
}

.form__label {
  flex: 0 0 50%;
  font-size: 1.5rem;
  font-weight: 600;
}

.form__input {
  width: 100%;
  padding: 0.3rem 1.1rem;
  font-family: inherit;
  font-size: 1.4rem;
  border: none;
  border-radius: 3px;
  background-color: var(--color-light--3);
  transition: all 0.2s;
}

.form__input:focus {
  outline: none;
  background-color: #fff;
}

.mapActions,
.filters {
  text-align: center;
  margin-bottom: 1.75rem;
  display: flex;
}

.mapActions > *,
.filters > * {
  flex: 1;
}

.mapActions {
  margin-bottom: 3rem;
}

.filters {
  gap: 1.75rem;
}

.filters select:focus {
  outline: none;
}

.sort {
  text-align-last: center;
}

/* MAP */
.map_container {
  position: relative;
  flex: 1;
  height: 100%;
  background-color: var(--color-light--1);
}

#map {
  height: 100%;
  width: 100%;
}

.leaflet-bottom.leaflet-right {
  display: none;
}

.leaflet-touch .leaflet-control-layers,
.leaflet-touch .leaflet-bar {
  border: none;
}

.theme__toggle {
  position: absolute;
  top: 80px;
  left: 10px;
  z-index: 999;
  background: #fff;
  font-size: 20px;
  padding: 0;
  width: 30px;
  height: 30px;
  border-radius: 2px;
}

.theme__toggle.mylocation {
  top: 120px;
}

/* Popup width is defined in JS using options */
.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: var(--color-dark--1);
  color: var(--color-light--2);
  border-radius: 5px;
  padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content,
.leaflet-container a.leaflet-popup-close-button {
  font-size: 1.5rem;
  color: #000;
}

.leaflet-container a.leaflet-popup-close-button:hover {
  color: #333;
}

/* Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1003;
  background: rgba(0, 0, 0, 0.8);
}

.modal {
  z-index: 1004;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(2px 4px 6px black);
}

.modal-body {
  width: 420px;
  height: 200px;
  background-color: var(--color-dark--2);
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  display: grid;
  grid-template-rows: auto 40px;
}

.modal-body.short {
  height: 150px !important;
}

.modal-content p {
  font-size: 14px;
  line-height: 18px;
  margin-top: 5px;
}

.modal-content p span {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  color: var(--color-brand--1);
}

.modal-actions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

/* Loader */
.loader__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right top, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.loader__msg {
  font-size: 14px;
  color: var(--color-brand--2);
  margin: 20px 50px;
  text-align: center;
}

.lds-ripple {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ripple div {
  position: absolute;
  border: 5px solid var(--color-brand--2);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 2.5s ease-in-out infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ripple div:nth-child(3) {
  animation-delay: -0.6s;
}
@keyframes lds-ripple {
  0% {
    transform: scale(0);
    width: 10px;
    height: 10px;
    opacity: 1;
  }
  100% {
    transform: scale(100%);
    width: 80px;
    height: 80px;
    opacity: 0;
  }
}

.error {
  position: fixed;
  top: 2rem;
  left: 50vw;
  z-index: 1005;

  padding: 1rem 3rem;
  background: #2c3538;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transform: translateX(-42%);
  text-align: center;
  filter: drop-shadow(2px 4px 6px black);

  transition: all 0.5s;
}

.error--hidden {
  transform: translate(-42%, -30%);
  opacity: 0;
}

.hidden {
  display: none;
}

@media screen and (max-width: 767px) {
  body {
    flex-direction: column-reverse;
    height: initial;
  }

  .map_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    z-index: 1001;
  }

  #map {
    height: 300px;
  }

  .sidebar {
    padding: 0;
    position: relative;
    margin-top: 300px;
  }

  .welcome__message {
    font-size: 12px;
  }

  .logo_container {
    position: fixed;
    top: 300px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 10;
    background: #232526;
    background: -webkit-linear-gradient(to right bottom, #414345, #232526);
    background: linear-gradient(to right bottom, #414345, #232526);
  }

  .logo {
    height: 3rem;
    align-self: center;
    position: absolute;
    top: 15px;
    left: 20px;
    margin: 0;
  }

  .form__label {
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    padding-right: 7px;
    flex: 0 0 43%;
  }

  .workouts {
    height: auto;
    margin-top: 60px;
    padding: 0 1.5rem;
  }

  .workout__header--container {
    grid-template-columns: 2.3fr 1fr;
  }

  .workout {
    grid-template-columns: 1fr 1fr;
    gap: 0 1rem;
  }

  .form {
    height: auto;
    gap: 1.25rem 2rem;
  }

  .form__btn {
    display: block;
  }

  .leaflet-popup .leaflet-popup-content {
    font-size: 12px;
  }

  .leaflet-popup-content {
    margin: 8px 15px;
  }

  .error {
    left: 30px;
    padding: 1rem 2rem;
    transform: translateX(-15px);
    min-width: calc(100vw - 30px);
  }

  .error--hidden {
    transform: translate(-15px, -30%);
  }

  .modal-body {
    margin: 0 15px;
    height: 210px;
  }

  .filter--container {
    position: fixed;
    width: 256px;
    height: 60px;
    top: 300px;
    left: 120px;
    overflow-y: hidden;
    z-index: 11;
  }

  .filters {
    width: 315px;
    margin: 15px 0 0 0;
    padding: 0 10px;
    gap: 1rem;
  }

  .edit__btn i {
    font-size: 22px;
  }

  .action__btn {
    padding: 0 1rem;
  }
}

@media screen and (min-width: 768px) {
  .filter--container {
    padding: 0 3rem;
  }
}
